.main-form {
    margin:auto;
    flex-direction:column;
    align-content:space-around;
    border:solid;
    border-color:#a9233cff;
    border-radius:25px;
    justify-content:center;
    padding:50px;
    box-shadow:2px 2px 10px 10px silver;
}
