.nav-item {
    font-family: 'Comic Sans MS';
    color: #a9233cff;
    margin-left:10px;
}

.nav-link {
    font-family: 'Comic Sans MS';
    color: #a9233cff;
    width:120px;
    text-align:center;
}
.nav-link:hover{
    border: solid 1px;
    border-radius: 25px;
}
.dropdown-item {
    font-family: 'Comic Sans MS';
    color: #a9233cff;
}

.navbar-toggler {
    background-color: #a9233cff;
    color:bisque;
}

.nav-search-input {
    color: #a9233cff;
    font-family :'Comic Sans MS';    
}
