<div class="borderless-form col-lg-4 col-md-6" style="justify-content:center; text-align:center;">
    <img class="card-img" src="/img/spinner-1.2s-183px.svg" style="width:200px;height:200px;" />    
</div>
@code {

}
