<div class="borderless-form col-lg-4 col-md-6" style="justify-content:center; text-align:center;">
    <img class="card-img" src="img/Hadis Rajabi Final Rev.png" style="width:300px;height:200px;" />
    <img class="card-img" src="/img/spinner-1.2s-183px.svg" style="width:150px;height:150px;" />
</div>
@code {

}
