@using HadisIelts.Client.Features.Account;
@using HadisIelts.Shared.Requests.Account;
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavMan;
@inject IMediator Mediator;
<div class="container text-center" style="margin-bottom:0px;">
    <div class="row">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Hello, @context.User.Identity?.Name!
                    </a>
                    <div class="dropdown-menu">
                        <a class="nav-link" href="account/profile">Profile</a>
                        <a class="nav-link" href="@(ChangePasswordPage.PageUrl)">Change Password</a>
                        <button class="nav-link btn btn-link" @onclick="(()=>BeginLogOut())">Log out</button>
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="col-6">
                    <a class="nav-link" href="@($"account/login/?ReturnUrl={NavMan.Uri}")">Log in</a>

                </div>
                <div class="col-6">
                    <a class="nav-link" href="account/register">Register</a>

                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private async Task BeginLogOut()
    {
        try
        {
            await Mediator.Send(new AccountLogoutRequest());

        }
        finally
        {
            NavMan.NavigateTo("/", true);
        }
    }
}
