@using HadisIelts.Shared.Requests.Account;
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavMan;
@inject IMediator Mediator;
<div class="container">
    <div class="row">
        <AuthorizeView>
            <Authorized>
                <a class="nav-link" href="account/profile">Hello, @context.User.Identity?.Name!</a>
                <button class="nav-link btn btn-link" @onclick="(()=>BeginLogOut())">Log out</button>
            </Authorized>
            <NotAuthorized>
                <div class="col-6">
                    <a class="nav-link" href="@($"account/login/?ReturnUrl={NavMan.Uri}")">Log in</a>

                </div>
                <div class="col-6">
                    <a class="nav-link" href="account/register">Register</a>

                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private async Task BeginLogOut()
    {
        try
        {
            await Mediator.Send(new AccountLogoutRequest());

        }
        finally
        {
            NavMan.NavigateTo("/", true);
        }
    }
}
