.nav-item {
    color: #a9233cff;
    margin-left:10px;
}

.nav-link {
    color: #a9233cff;
    width:120px;
    text-align:center;
}
.nav-link:hover{
    border: solid 1px;
    border-radius: 25px;
}
.dropdown-item {
    color: #a9233cff;
}

.navbar-toggler {
    background-color: #a9233cff;
    color:bisque;
}
.navbar {
    background-image: linear-gradient(to bottom, #FF6F6F , bisque 2%, ghostwhite);
}
