<div class="main-form col-lg-4" style="justify-content:center; text-align:center;">
    <h4>
        You need to login to access this page
    </h4>
    <img class="card-img" src="/img/login.jpg"/>
    <div class="container">
        <div class="d-flex" style="justify-content:space-evenly;">
            <a href="/account/login" class="btn btn-outline-primary" style="width:100px;">Login</a>
            <a href="/account/register" class="btn btn-outline-secondary" style="width:100px;">Register</a>
        </div>
    </div>
</div>
@code {

}
