@page "/account/login"
@using HadisIelts.Client.Features.Account.Models;
@using HadisIelts.Shared.Requests.Account;
@inject IMediator Mediator
@inject NavigationManager NavMan
@inject AuthenticationStateProvider AuthProvider;

<div class="main-form container col-lg-4 col-md-8">
    <EditForm Model="@loginModel" OnValidSubmit="PostLoginRequest">
        <main class="form-signin w-100 m-auto">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating" style="margin:5px;">
                <InputText @bind-Value="loginModel.Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating" style="margin:5px;">
                <InputText @bind-Value="loginModel.Password" type="password" class="form-control" id="floatingPassword" placeholder="Password" />
                <label for="floatingPassword">Password</label>
            </div>
            <div class="d-flex checkbox mb-3" style="margin:5px; left:0; justify-content:flex-start;">
                <label>
                    <InputCheckbox @bind-Value="loginModel.KeepSignedIn" type="checkbox" /> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" style="margin:5px;">Sign in</button>
        </main>
    </EditForm>
    <p style="margin:5px;">Don't have an account? <a class="btn btn-outline-secondary" href="/account/register">Register</a></p>
    @if (_loginError)
    {
        <div class="alert alert-danger" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
            </svg>
            @_errorMessage
        </div>
    }
</div>

@code {
    [Parameter]
    public string ReturnUrl { get; set; }
    private LoginModel loginModel { get; set; } = new LoginModel();
    private bool _loginError;
    private string _errorMessage;
    private async Task PostLoginRequest()
    {
        var loginRequest = new AccountLoginRequest(
            new LoginRequest
                {
                    Email = loginModel.Email,
                    Password = loginModel.Password,
                    KeepSignedIn = loginModel.KeepSignedIn
                }
        );
        var response = await Mediator.Send(loginRequest);
        if (response.LoginResponse.LoginSucess)
        {
            ReturnUrl = ReturnUrl ?? "/";
            NavMan.NavigateTo(ReturnUrl, true);
        }
        else
        {
            _loginError = true;
            _errorMessage = response.LoginResponse.Message;
        }
    }
}